<section class="details">
    <h1>{{play.title}}</h1>
    <div>
        <img src="{{play.imageUrl}}" />
    </div>
</section>

<section class="details">
    <h3>Theater Description</h3>
    <p>{{play.description}}</p>
    <div class="buttons">
        {{#if isCreator}}
        <a class="btn delete" href="/play/delete/{{play._id}}">Delete</a>
        <a class="btn edit" href="/play/edit/{{play._id}}">Edit</a>
        {{else}}
        {{#if hasLiked}}
        <span class="liked">You have already liked this play!</span>
        {{else}}
        <a class="btn like" href="/play/like/{{play._id}}">Like</a>
        {{/if}}
        {{/if}}
    </div>
</section>